<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:int-rmi="http://www.springframework.org/schema/integration/rmi"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/integration/rmi 
	    http://www.springframework.org/schema/integration/rmi/spring-integration-rmi.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/integration 
		http://www.springframework.org/schema/integration/spring-integration-4.2.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util-4.2.xsd">

<!-- default-request-channel="requestChannel" -->

<int:gateway id="aaa" service-interface="rmi.HelloService"
	default-reply-channel="replyChannel"
	 default-request-channel="requestChannel">
	<int:method name="doHello" />
</int:gateway>

	<int:channel id="requestChannel" />
	<int:channel id="replyChannel" />
	<int:channel id="testChannel" />
	
	<int-rmi:outbound-gateway remote-channel="testChannel"
		host="localhost" request-channel="requestChannel" reply-channel="replyChannel"
		port="1199" requires-reply="true">
	
	</int-rmi:outbound-gateway>

</beans>
